.navbar {
    position: relative;
    top: 0;
    background: linear-gradient(90deg, rgba(2,52,103,1) 18%, rgba(2,56,110,1) 26%, rgba(9,68,122,1) 37%, rgba(19,87,140,1) 50%, rgba(36,118,169,1) 65%, rgba(48,141,191,1) 77%, rgba(48,141,191,1) 90%);
    width: 100%;
    height: 60px;
    display: inline-flex;
    justify-content: space-between;
    padding: 0rem 12rem;
    z-index: 5;
}

.navbar .titleContainer {
    float: left;
    align-self: center;
    display: flex;
    align-items: center;
}

.navbar .titleContainer img {
    width: 60px;
    height: 60px;
}

.navbar .titleContainer h1 {
    color: white;
}

.navbar .navigators {
    display: inline-block;
    align-self: center;
    border-radius: 25px;
}

.navbar .navigators ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar .navigators ul li {
    padding: 5px;
    margin: 3px 5px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: var(--white)
}

.navbar .navigators ul li a {
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    position: relative;
    transition: text-decoration 0.3s ease;
}

.navbar .navigators ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar .navigators ul li a::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}