:root {
  --white: #fff;
  --black: #000;

  --blue-1: #308dbf;
  --blue-2: #6091D5;
  --blue-3: #dce7f8;

  --darkblue-1: rgba(2,52,103,1);
  
  --gray-1: #A9A9A9;
  --gray-2: #eeecec;
  --gray-3: #c2c1c1;
  
  --orange-1: #F29339;
  --red-1: #e9151c;
  --green-1: #067F3F;

  --gradient-1: linear-gradient(90deg, rgba(2,52,103,1) 18%, rgba(2,56,110,1) 26%, rgba(9,68,122,1) 37%, rgba(19,87,140,1) 50%, rgba(36,118,169,1) 65%, rgba(48,141,191,1) 77%, rgba(48,141,191,1) 90%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: var(--white); /* Background of the track */
  border-radius: 6px; /* Rounded corners for track */
}

*::-webkit-scrollbar-thumb {
  background: var(--blue-1);
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}