.heroSection {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background: radial-gradient(rgba(2,52,103,1) 18%, 
                rgba(2,56,110,1) 26%, 
                rgba(9,68,122,1) 37%, 
                rgba(19,87,140,1) 50%, 
                rgba(36,118,169,1) 65%, 
                rgba(48,141,191,1) 77%, 
                rgba(48,141,191,1) 90%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroSection .sectionContent {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroSection .sectionContent .title {
    font-size: 10rem;
    font-weight: 600;
    color: white;
    padding: 2px 1px;
    margin: 3px;
}

.heroSection .sectionContent .subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    padding: 2px 1px;
    margin: 3px;
}

.heroSection .sectionContent .btn1 {
    padding: 10px 24px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--pcolor-1);
    color: white;
    cursor: pointer;
    margin: 5px;
}

.heroSection .sectionContent .btn1:hover {
    background-color: var(--hcolor-1);
}