:root {
  --lavender : #745997;
  --lavender-fade : #d1c5e0;
  --white : #ffff;
  --black : black;
  --dark-gray : #343633;
  --light-gray-1 : #868885;
  --light-gray-2 : #d3d3d3;
  --fade-gold : #EFDF88;
  --mauve : #BFB4CD;
  --default-image-size : 5rem;
  --small-text-size : 12rem;
  --small-icon : 3rem;
  --primary-color-1: #454ade;
  --hover-effect-1: #161cca;
}

:root {
  --pcolor-1: #454ADE;
  --pcolor-2: #6091D5;
  --pcolor-3: #C2DDDC;
  --pcolor-4: #E8E0C7;
  --pcolor-5: #E2EAE3;
  --bcolor-w: #FFFFFF;
  --bcolor-b: #000000;
  --bcolor-l: #E2EAE3;
  --bcolor-d: #C2DDDC;
  --bcolor-3: #868885;
  --scolor-1: #F01E2C;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}