.footer {
    position: relative;
    min-height: 15vh;
    max-height: 17.5vh;
    bottom: 0;
    background: linear-gradient(90deg, rgba(2,52,103,1) 18%, rgba(2,56,110,1) 26%, rgba(9,68,122,1) 37%, rgba(19,87,140,1) 50%, rgba(36,118,169,1) 65%, rgba(48,141,191,1) 77%, rgba(48,141,191,1) 90%);
    z-index: 100;
}

.footer .wrapper {
    padding: 1rem 12rem;
    margin: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.footer .wrapper .title {
    display: inline-flex;
    align-items: center;;
}

.footer .wrapper .title img {
    padding: 0.25rem;
    margin: 0.125rem;
    width: 4rem;
    height: auto;
}

.footer .wrapper .title h1 {
    padding: 0.25rem;
    margin: 0.125rem;
    color: var(--white);
}

.footer .wrapper .content {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
}