.adminHome {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: start;
}

.adminHome .active-content {
    background: #F8F7FF;
    background-color: #e5eaee;
    height: 100vh;
    width: 100%;
}