.teachers {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.left-cont .content-tag {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3px;
    color: var(--light-gray-1);
}

.left-cont .content {
    margin: 1rem 0rem;
    padding: 0px 12px;
    gap: 16px;
    overflow-y: auto;
    max-height: 600px;
}

.left-cont .content::-webkit-scrollbar {
    width: 5px;
}

.content::-webkit-scrollbar-thumb {
    background-color: var(--lavender);
    border-radius: 10px;
}

.left-cont .content .cont-item {
    padding: 8px;
    display: flex;
    width: 200px;
    margin: 6px 0px;
    border-radius: 8px;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    flex: 1 1 calc(33.33% - 16px);
    background-color: var(--light-gray-2);
    font-size: 16px;
    font-weight: 550;
    padding-left: 1rem;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
}

/* DEFAULT STYLE FOR CONTENTS */
.section-left {
    width: 300px;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
}

.left-cont {
    padding: 10px;
    margin: 5px;
}

.left-cont .title-cont {
    padding: 5px;
    margin: 1px;
}

.left-cont .primary-cont {
    padding: 5px;
    margin: 1px;
}

.left-cont .teacher-cont {
    max-width: 37.5rem;
    overflow: hidden;
}

.section-right {
    width: calc(100% - 300px);
    padding: 1.85rem;
}

/* RIGHT SECTION NON-CONTENT ELEMENTS */
.section-right .teacher-information {
    margin: 5px;
}

.teacher-information .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.teacher-information .content-menu {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.teacher-information .content-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

.teacher-information .content-menu ul li {
    margin: 0px 15px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.teacher-information .content-menu ul li a {
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    position: relative;
    transition: text-decoration 0.3s ease;
}

.teacher-information .content-menu ul li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.teacher-information .content-menu ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}