.adminAppointments {
  padding: 1rem 12rem;
  margin: 0.125rem;
  width: 95%;
  min-height: 100vh;
}

.adminAppointments .appointmentContainer {
  display: flex;
  justify-content: center;
}

.adminAppointments .header .navigators {
  margin: 0.25rem 0rem;
  display: inline-flex;
  gap: 0.5rem;
}

.adminAppointments .header .navigators .btn07 {
  min-width: 5rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--pcolor-1);
  background-color: inherit;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 0.5rem;
}

.adminAppointments .header .navigators .btn07:hover {
  background-color: var(--pcolor-2);
  color: var(--white);
}

.adminAppointments .header .navigators .btn07.active {
  background-color: var(--pcolor-1);
  color: var(--white);
}

.adminAppointments .appointmentFlow {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.appointmentTable .btnah.view {
  padding: 0.35rem 0.85rem;
  border-radius: 0.25rem;
  border: none;
  color: var(--white);
  background-color: var(--pcolor-1);
  cursor: pointer;
  transition: transform 0.2s;
}

.appointmentTable .btnah.view:hover {
  transform: scale(1.05);
}

.appointmentTable .btn03.view:hover {
  transform: scale(1.05);
}

.appointmentTable table,
.scheduleTable table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0rem;
  border-radius: 8px;
}

.appointmentTable th,
.appointmentTable td,
.scheduleTable th,
.scheduleTable td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.appointmentTable th,
.scheduleTable th {
  background-color: #f2f2f2;
}

.appointmentTable td,
.scheduleTable td {
  background-color: #fff;
}
