.oneTimePin {
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.oneTimePin .title {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.oneTimePin .descTitle {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.oneTimePin .descTitle span {
  color: var(--primary-color-1);
}

.oneTimePin #otp-form {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  width: 90%;
  max-width: 35rem;
  padding: 4rem 1.25rem;
  text-align: center;
  border: 0.1rem solid var(--bcolor-b)
}

.oneTimePin #otp-form input {
  border: none;
  font-size: 32px;
  text-align: center;
  padding: 10px;
  width: 100%;
  max-width: 70px;
  height: 70px;
  border-radius: 4px;
  outline: 2px solid rgb(66, 66, 66);
  color: var(--bcolor-b);
}

.oneTimePin .button {
  display: inline-flex;
  gap: 1rem;
}

.oneTimePin .button #verify-btn,
.oneTimePin .button #resend-btn {
  cursor: pointer;
  display: inline-block;
  margin-top: 30px;
  background: royalblue;
  color: white;
  padding: 7px 10px;
  border-radius: 4px;
  font-size: 16px;
  border: none;
}
