:root {
  --lavender : #745997;
  --lavender-fade : #d1c5e0;
  --white : #ffff;
  --black : black;
  --dark-gray : #343633;
  --light-gray-1 : #868885;
  --light-gray-2 : #d3d3d3;
  --fade-gold : #EFDF88;
  --mauve : #BFB4CD;
  --default-image-size : 5rem;
  --small-text-size : 12rem;
  --small-icon : 3rem;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}