.wrap {
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.wrap .wrapper {
    height: auto;
    padding: 15px;
    border: 2px solid var(--black);
    border-radius: 8px;
}

.wrap .wrapper .wrap-header {
    padding: 3px;
    margin: 1px;
}

.wrap .wrapper .wrap-content {
    padding: 15px;
    margin: 5px;
}

.wrap .wrapper .wrap-content .wrap-items {
    display: flex;
    flex-direction: column;
    height: auto;
}

.wrap .wrapper .wrap-content .wrap-items .item {
    display: flex;
    justify-content: space-between;
    margin: 4px 0px;
    padding: 10px;
    border: 1px solid var(--light-gray-2);
    border-radius: 5px;
    height: auto;
}

.wrap .wrapper .wrap-content .wrap-items .item .left {
    width: 35%;
    flex: 0 0 auto;
}

.wrap .wrapper .wrap-content .wrap-items .item .left input[type="checkbox"] {
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

.wrap .wrapper .wrap-content .wrap-items .item .left span {
    font-size: 20px;
    font-weight: 600;
}

.wrap .wrapper .wrap-content .wrap-items .item .center {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 40%;
}

.wrap .wrapper .wrap-content .wrap-items .item .center span {
    font-size: 18px;
}

.wrap .wrapper .wrap-content .wrap-items .item .inputs {
    margin-bottom: 10px;
    align-items: center;
}

.wrap .wrapper .wrap-content .wrap-items .item .inputs button {
    padding: 0;
    margin: 0px 5px;
    font-size: 18px;
    font-weight: 600;
    color: var(--lavender);
    background: inherit;
    border: none;
    cursor: pointer;
}

.wrap .wrapper .wrap-content .wrap-items .item .right {
    width: 25%;
    height: 100%;
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
}

.wrap .wrapper .wrap-content .wrap-items .item .right button {
    width: 30px;
    height: 30px;
    font-size: 22px;
    text-align: center;
    border: 1px solid var(--lavender);
    color: var(--lavender);
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
}

.wrap .wrapper .wrap-footer { 
    padding: 3px;
    margin: 1px;
}

.wrap .wrapper .wrap-footer button { 
    margin-right: 12px;
    padding: 8px 15px;
    border: 1px solid var(--lavender);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--lavender-fade);
    color: var(--lavender);
    cursor: pointer;
}

/* ID EDITS */
.wrap #weekly-wrap {
    width: 100%;
}

.p-error {
    color: #E4080A;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}