.btnType2 {
    margin: 10px 0px;
    outline: 0;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
    font-size: 13px;
    height: 30px;
    background-color: #454ade;
    color: white;
    padding: 0px 20px;
}

.btnType2:hover {
    background-color: #3135be;
}